*{
    box-sizing: border-box;
}
fieldset{
    background-color:rgb(211, 203, 89) ;
color:darkblue;
border-color: darkgoldenrod;
border: 9px groove (internal value);
border-radius: 7px;
width: 400px
}
legend {
    color: darkblue;
font-weight: bold
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header {
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}
section{
    background-color: khaki;
    padding: 200px;
}
footer {
    padding: 2px;
    text-align:initial;
    background-color:aquamarine;
}